.section-create-game{
    margin: 30px 80px;
    padding: 28px;
    border-radius: 18px;
    background: #cac1b42b;
    box-shadow: 2px 4px 4px -1px #d8d3d3;
}

.formCreateGame >*{
    margin-bottom: 14px;
}

.btn-create-game{
    background-color: #00ade1;
    border: none;
    padding: 8px 20px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    letter-spacing: .7px;
    outline: none;
    cursor: pointer;
}

.btn-create-game:hover{
    background: #0195c2;
}

.title-new-game{
    font-size: 1.8rem;
    font-weight: 500;
    color: #000000;
    text-shadow: 1px 0px 2px #00ade1;
}